name: Main Check & Publish

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: 2.4
          bundler-cache: true

      - run: bundle install
      - run: bundle exec rake
