name: Lint Code Base

on:
  pull_request:
    branches: [master]
    paths-ignore:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: 2.5
          bundler-cache: true

      - name: Check for offenses
        run: bundle exec pronto run -f annotations -c $(git name-rev --name-only HEAD) >> annotations.json

      - name: Write annotations
        uses: emilio2hd/pronto-annotate-action@main
        with:
          reportPath: annotations.json
