name: Lint Code Base

on:
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: 2.4
          bundler-cache: true

      - run: bundle install

      - name: Check for offenses
        run: bundle exec pronto run -f annotations -c origin/${{ github.base_ref }} >> annotations.json

      - name: Write annotations
        uses: emilio2hd/pronto-annotate-action@main
        with:
          reportPath: annotations.json
